<h1>All Shows</h1>

<% @bookings.each do |show| %>
  <p><%= link_to show.band.name, band_path(show.band) %> at <%= link_to show.venue.name, venue_path(show.venue) %> </p>
  <p> <%= link_to format_showtime(show.showtime), booking_path(show) %></p><br><br>
<% end %>
