<h1> <%= @venue.name %> </h1>

<p><%= @venue.description %></p>

<h3>Next Show:</h3>

<%= link_to "See all upcoming shows", venue_bookings_path(@venue) %>

  <% @venue.bookings.each do |booking| %>
    <p><strong><% booking.band.name %></strong> - <% booking.showtime.strftime("%B %-d, %Y at %-I:%M%p") %></p><br>
  <% end %>

<h4><%= link_to "Book a band at this venue", new_venue_booking_path(@venue) %></h4>
