<h1>Bands Index</h1>

<ul>
  <% @bands.each do |band| %>
    <li> <%= link_to band.name, band_path(band) %> - <%= show_count_message(band.shows) %></li><br>
  <% end %>
</ul>

<br>
<p><%= link_to "Add a Band", new_band_path %></p>
