<h1>All Bands</h1>
<div class="band-list col s4">

    <% @bands.each do |band| %>
      <h5> <%= link_to band.name, band_path(band) %> </h5>
      <a href="/bands/<%=band.id%>/bookings.json" class="js-all">> <%= show_count_message(band.shows) %></a>
      <br>
    <% end %>

</div>
<div class="shows-list right col s8">

</div>
<br><br>

<h5><%= link_to "Add a Band", new_band_path %></h5>
