<h1><%= @band.name %></h1>

<p><%= @band.description %></p>

<h3><%= link_to "See all upcoming shows", band_bookings_path(@band) %></h3>

<h4><%= link_to "Book this band", new_band_booking_path(@band) %></h4>
